@using CaleBlog.Domain.Entities;

@model CaleBlog.WebUI.Models.PostListViewModel

@{
    ViewBag.Title = "Posts";
}

@foreach (var post in Model.Posts)
{
    <div>
        <h3>@post.Title</h3>
        <h4>@post.Body</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, pg => Url.Action("List", new { page = pg}))
</div>

